* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    height: 100%;
    overflow: hidden;
    color: red;
    text-align: center;
}

/* Background video */
#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

/* Overlay */
.overlay {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
}

#music-btn {
  margin-top: 2rem;
  padding: 10px 20px;
  background-color: rgb(253, 0, 0);
  border: 1px solid white;
  color: white;
  border-radius: 25px;
  cursor: pointer;
  transition: background 0.3s;
}

#music-btn:hover {
  background-color: rgb(231, 11, 11);
}

/* Snow canvas */
#snow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}

h2 {
    font-size: 10rem;
    font-weight: bold;
    padding: 5rem;
}

.coming-soon {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* todo background image */
    background-image: url(./images/snowy1.mp4);
    background-size: 100%;
    background-repeat: no-repeat;
}

.countdown {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 40%;
}

.day,
.hour,
.minute,
.second {
    font-size: 3rem;
}

.waiting {
    height: 50vh;
}

